In [9]:
grades = [2,3.5,4]

friends = ['Alex','Hunter','Nicole']

In [11]:
print(friends)

['Alex', 'Hunter', 'Nicole']

In [12]:
print(friends[2])

Nicole

In [14]:
lst = [2,6,[4,1],9]
len(lst)

4

In [15]:
# concatenation

lst1 = friends + lst

print(lst1)

['Alex', 'Hunter', 'Nicole', 2, 6, [4, 1], 9]

In [20]:
# slicing with string

word = 'warhawks'
print(word[3:-1])

hawk

In [21]:
22222

['Alex']

In [22]:
# count method

numbers = [4,5,6,1,6,7,0,7,6]
numbers.count(6)

3

In [24]:
# reverse method

numbers = [4,5,6,1,6,7,0,7,6]
numbers.reverse()

print(numbers)

[6, 7, 0, 7, 6, 1, 6, 5, 4]

In [25]:
# sort method

numbers.sort()

print(numbers)

[0, 1, 4, 5, 6, 6, 6, 7, 7]

In [26]:
# sort method with strings
    
friends.sort()
print(friends)

[' Hunter', 'Alex', 'Nicole']

In [31]:
# turning a string into a list

str1 = 'Hello World'
words = str1.split()
print(words)

['Hello', 'World']

In [30]:
str3 = 'Alex/Smith/1999'
elements = str3.split('/')

first_name = elements[0]
last_nm=ame = elements[1]
birthday = elements[2]

SyntaxError: invalid syntax (3219377996.py, line 4)